@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  --background: #0061df;

  /* Padding */
  --padding: 0 130px;
}
.title {
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.56px;
}
.subTitle {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 142.857% */
  color: #0d263b;
}
.info {
  /* Paragraph/Small/Regular */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  color: #696969;
  margin-top: 4px;
}
.line {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.slick-prev:before,
.slick-next:before {
  color: #0d263b !important;
  font-size: 25px !important;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
}

.slick-dots-bottom {
  width: inherit !important;
}
